@font-face {
  font-family: "NokiaKokia";
  src: url("../fonts/NokiaKokia.ttf") format("truetype");
}

@font-face {
  font-family: "Wremena";
  src: url("../fonts/Wremena.otf") format("opentype");
}

body {
  margin: auto;
  width: 1440px;
  background-color: black;
}

.menu {
  background-color: black;
  height: 110px;
}

.horizontal {
  display: flex;
  align-items: center;
}

.horizontal1 {
  display: flex;
  align-items: right;
  width: fit-content;
}

.horizontal2 {
  display: flex;
  align-items: right;
}

.space-between {
  justify-content: space-between;
}

.menu_container {
  padding-top: 0px;
  padding-bottom: 0px;
}

.logodiv {
  height: 70px;
  width: 325px;
  display: flex;
  justify-content: left;
  margin-left: 60px;
  margin-right: auto;
}

.logo {
  object-fit: contain;
}

.font1 {
  margin: auto 0 auto auto;
}

.font_basewhite {
  color: white;
  text-decoration: none;
  font-size: 26px;
  font-family: Wremena;
  line-height: 1.2;
  margin: 0;
}

.navigationright {
  position: relative;
  height: 70px;
  width: 700px;
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
  margin-top: auto;
  margin-bottom: 0;
}

.menu_line_block {
  width: 1440px;
  height: 3px;
  margin: 0;
  background-color: black;
}

.menu_line {
  width: 1350px;
  height: 3px;
  background-color: #FF64A5;
  margin: auto 50px auto 50px;
}

.chapter {
  height: 670px;
  margin: 0;
}


.font2 {
  color: #FF64A5;
  font-family: NokiaKokia;
  font-size: 56px;
  line-height: 99px;
  margin: 0px 0px 0px 60px;
  position: relative;
  top: -610px;
}

.fonth1 {
  color: #FF64A5;
  font-family: NokiaKokia;
  font-size: 32px;
  line-height: 35px;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 0px;

}

.fonth2 {
  color: #FF64A5;
  font-family: NokiaKokia;
  font-size: 32px;
  line-height: 35px;
  display: flex;
  justify-content: left;
  margin: 55px auto 0px auto;

}

.chert2 {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  top: 0px;
  left: 915px;
}

.orderbuttom {
  width: 330px;
  height: 80px;
  background-color: #FF64A5;
  border-radius: 20px;
  margin-left: 125px;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 500px;
  transition: 0.5s;
}

.orderbuttom:hover {
  transform: scale(1.2);
}

.bordergroup {
  margin: 50px 60px 0px 60px;
}

.border {
  height: 600px;
  width: 350px;
  background-color: black;
  border: solid;
  border-color: #FF64A5;
  border-radius: 20px; }
  .border_group {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.yimg1 {
  height: 235px;
  width: 310px;
  background-color: black;
  background-image: url("../img/bababa.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 32px 0px 48px 0px;
}

.yimg2 {
  height: 235px;
  width: 310px;
  background-color: black;
  background-image: url("../img/bebebe.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 32px 0px 48px 0px;
}

.yimg3 {
  height: 235px;
  width: 310px;
  background-color: black;
  background-image: url("../img/bybyby.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 32px 0px 48px 0px;
}

.fonth3 {
  color: #FF64A5;
  font-family: NokiaKokia;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0px 0px 0px 0px;
}

.font6 {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: Wremena;
  margin: 0;
  text-align: left;
  line-height: 22pt;
}

ul {
  list-style: url("../img/Ellipse8.svg") square;
  margin: 0;
}

.fontorder {
  text-decoration: none;
  color: white;
  font-size: 20pt;
  font-family: Wremena;
  margin: auto;
}

.orderbuttom2 {
  width: 200px;
  height: 45px;
  background-color: #FF64A5;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  transition: 0.7s;
  margin: auto auto 30px auto;
}

.orderbuttom2:hover {
  transform: scale(1.2);
}

.mr1 {
  margin: 60px 0px 0px 60px;
}

.numbers {
  color: #FF64A5;
  font-family: NokiaKokia;
  font-size: 98pt;
  text-align: center;
  margin: 0px 0px 0px 0px;
  animation: 7s linear infinite rotate;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(720deg);
  }
}

.nm1 {
  width: 200px;
  height: 184px;
  margin: 200px 0px 0px 60px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: px;

}

.nm2 {
  width: 412px;
  height: 180px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;


}

.nm3 {
  width: 230px;
  height: 180px;
  margin: 0px 60px 0px 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 112px;

}

.merch {
  margin-top: 30px;
  width: 510px;

}

.merchblock {
  margin-left: 60px;
  width: 510px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
  text-align: left;
}
.align1 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-end;
}

.orderbuttom3 {
  width: 330px;
  height: 80px;
  background-color: #FF64A5;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  transition: 0.7s;
  margin: 40px auto auto auto;
}

.orderbuttom3:hover {
  transform: scale(1.2);
}

.mr2 {
  width: 800px;
  margin: 100px 60px 60px auto;
}

.microfont {
  text-align: center;
}

.font3 {
  text-decoration: none;
  color: white;
  font-size: 32px;
  font-family: Wremena;
  margin: auto;
}

.img1 {
  height: 313px;
  width: 438px;
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.img2 {
  height: 313px;
  width: 235px;
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.t-shirt {
  background-image: url("../img/t-shirt.png");
  position: relative;
  margin: 0px 20px 0 auto;
}

.bag {
  background-image: url("../img/bag1.png");
  position: relative;
  margin: 0px 60px 0 20px;
}

.stickers {
  background-image: url("../img/stickers.png");
  position: relative;
  margin: 40px 20px auto 200px;
}

.pins {
  background-image: url("../img/pins.png");
  position: relative;
  margin: 40px 20px auto 20px;
}

.keychain {
  background-image: url("../img/keychain.png");
  position: relative;
  margin: 40px 60px auto 20px;
}


.QA {
  margin: 48px auto 0 139px;
}
.container2 {
  width: fit-content;
  height: fit-content;
}
.form {
  width: 552px;
  height: 372px;
  margin: 0 138px 64px auto;
  position: relative;
  bottom: 190px;
}
::placeholder {
  color: #FF64A5;
  font-size: 16px;
  font-family: NokiaKokia;
  line-height: 20px;
  text-align: left;
  margin-left: 21px;
}
input{
  border: none;
}
button{
  border: none;
}
.container3 {
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content:flex-start;
  align-content: center;
  margin: 17px auto 0 21px;
  padding-left: 21px;
}
.whitec1 {
  height: 37px ;
  width: 218px;
  align-items: center;
}
.whitec2 {
  height: 37px ;
  width: 320px;
  align-items: center;
}
.whitec3 {
  height: 132px ;
  width: 360px;
  align-items: flex-start;
}
.bottom{
  background-color: #FF64A5;
  border-radius: 20px;
  height: 37px;
  width: 218px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 38px auto auto 21px;
  transition: 0.7s;
}

.bottom:hover {
  transform: scale(1.1);
}

.chertila {
  background-image: url("../img/chertila2\ 1.svg");
  width: 184px;
  height: 184px;
  position: relative;
  bottom: 160px;
  left: 385px;
}


.feedback {
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  width: 1163px;
  height: 120px;
  margin: 25px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}


.name {
  background-color: #FF64A5;
  border-radius: 20px;
  width: 447px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px auto 0 auto;

}
.fontname {
  color: white;
  font-family: NokiaKokia;
  font-size: 20px;
  line-height: 24px;
}

.font_baseblack {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-family: Wremena;
  line-height: 1.2;
  margin: auto auto auto 27px;
}
.container1 {
  height: 90px;
  width: 520px;
  margin: 68px auto 0 139px;
}

footer {
  background-color: #FF64A5;
  height: 250px;
  margin: 0;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  padding: 35px 60px 0px 60px;
  height: 190px;

}

.logodown {
  height: 175px;
  width: 238px;
}

.font4 {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-family: Wremena;
  margin: 0;
  text-align: left;
  line-height: 25pt;
}

.font5 {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-family: Wremena;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.fontpadding {
  padding: 10px 0px 20px 0px;
}

.fal {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.socialnet {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 0px 0px;
}

.inst {
  padding: 10px 10px 10px 0px;
}

.wtsup {
  padding: 10px 10px 10px 10px;
}

.fb {
  padding: 10px 0px 10px 10px;
}

.background_class {
  height: 800px;
  background-color: black;
}